*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*地址管理*/
.a-adminstration{
    padding-top:38px;
}
.a-adminstration-title{
   width: 1190px;
   border-bottom: 1px solid #dedede;
   position: relative;
}
.a-title-h3{
    font-size: 18px;
    padding-bottom: 10px;
    width: 100px;
    border-bottom: 2px solid #ed1957;
    padding-left:14px;
}
.a-adminstration-p{
    width: 1090px;
    float: left;
    font-size: 12px;
    color:#929292;
    padding-left: 13px;
    padding-bottom: 11px;
    position: absolute;
    top:11px;
    left:113px;
}
/*管理表格*/
.a-adminstration-table{
    margin-top: 47px;
}
.a-adminstration-table span{
    font-size: 14px;
    float: left;
    color:#4e4e4e;
    margin-bottom:22px;
    text-align: center;
}
.a-table-a{
    padding-left: 25px;
    padding-right: 40px;
}
.a-table-b{
    padding-left: 62px;
    padding-right: 112px;
}
.a-table-c{
    padding-left: 70px;
    padding-right: 90px;
}
.a-table-d{
    padding-left: 50px;
    padding-right: 48px;
}
.a-table-e{
    padding-left: 90px;
    padding-right: 78px;
}
.a-table-f{
    padding-left: 120px;
    padding-right: 100px;
}
.a-adminstration-table table{
    width: 1190px;
    height: 180px;
    border-collapse:collapse;  
    border: 1px solid #f0f0f0;  
}
.a-adminstration-table table td{
    border-collapse:collapse;  
    border: 1px solid #f0f0f0; 
    text-align: center;
}
.a-adminstration-table .even td{
    background-color: #f0f0f0;
}
.a-adminstration-table.odd td{
    background-color: #fff;
}
/*新增地址*/
.a-address{
    padding-top:68px;
}
.a-address-title{
   border-bottom:1px solid #dedede;
}
.a-title-h3{
    font-size: 18px;
    padding-bottom: 9px;
    width: 100px;
    border-bottom: 2px solid #ed1957;
    padding-left:14px;
    position: relative;  
}
/*新增地址表单*/
.a-address{
    margin-bottom: 48px;
}
.a-address ul{
    list-style: none;
}
.a-address ul li{
    width:500px;
    margin-top: 15px;
}
.mgt30{
    padding-top: 30px;
}
.a-address p{
    padding-right:17px;
    width: 77px;
    height:37px;
    font-size: 14px;
    color:#7a7a7a;
    text-align: right;
    float: left;
    clear: both;
    display: block;
}
.a-address-p{
    font-size: 14px;
    width: 74px;
    float: left;
}
.a-address form em{
    font-size: 14px;
    color:#ed1957;
}
.ad-select-address{
    width:100px;
    height: 28px;
    padding:0 10px;
    border:1px solid #e9e9e9;
    margin-right:10px;
}
.ad-select-address-one{
    width:166px;
    height: 28px;
    padding-left:10px;
    border:1px solid #e9e9e9;
    margin-left:8px;
}
.ad-input-address{
    width: 265px;
    height: 80px;
    margin-bottom: 13px;
    padding:0 10px;
    margin-right: 10px;
    border: 1px solid #e9e9e9;
    float: left;
}
.ad-input-one{
    width: 277px;
    height:28px;
    padding-left: 8px;
    border: 1px solid #e9e9e9;
}
.ad-input-phone{
    width: 168px;
    height: 28px;
    border: 1px solid #e9e9e9;
}
.button-btn{
    display: inline-block;
    width: 180px;
    height: 44px;
    background: #ed1957;
    border: 1px solid #ed1957;
    border-radius: 3px;
    font-size: 14px;
    color:#fff;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
    margin-left: 102px;
}