*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.clearfix{
    display: block;
    clear: both;
}
.fl{
    float: left;
}
.h-shop{
    padding-top:92px;
}
.h-shop-title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.h-shop-list{
    border-top:1px dashed #dedede;
}
.h-shop-list p{
    line-height: 2;
    text-indent: 2em;
    font-size: 14px;
}
.h-shop-list .sl-p1{
   font-weight: 550;
   padding-top:35px;
}
.h-shop-list li{
    list-style: none;
    text-indent: 2em;
    font-size: 14px;
    padding:8px 0 8px 0;
}
.h-shop-btn{
    padding:260px 486px 375px 485px;
}
.h-shop-btn .hb-button{
    width:220px;
    height: 42px;
    border:1px solid #ed1957;
    border-radius: 3px;
    background: #ed1957;
    color:#fff;
}
