*{
    margin: 0;
    padding:0;
}
.lg-pic{
    float: left;
    width:692px;
    padding-top:141px;
    padding-bottom: 258px;
}
.lg-box{
  margin-left:691px;
  padding-bottom: 277px;
}
.form-box{
    width: 342px;
    padding:141px 0 0;
    margin: 0 auto;
}
.form-box h2{
    font-size: 28px;
    padding-bottom: 8px;
    width: 120px;
    border-bottom: 4px solid #ed1957;
    text-align: center;
    margin: 0 auto;
}
.form-box ul{
    list-style: none;
    width: 342px;
    margin-top: 62px;
}
.form-box ul li{
    list-style: none;
    width: 339px;
    margin:10px 0 10px 0;
}
.form-box li p{
    width: 64px;
    font-size: 16px;
    text-align:left;
    display: inline-block;
}
.form-box li input{
    width:260px;
    height: 36px;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding-left: 11px;
}
.form-box .lg-p{
    margin-left:75px;
    width:260px;
    font-size: 14px;
}
.form-box .lg-p span{
    font-size: 14px;
    color:#ed1957;
}
.button-input{
    width: 260px;
    border: 1px solid #ed1957;
    border-radius: 3px;
    color:#fff;
    background-color:#ed1957;
    height: 40px;
    margin-left: 65px;
    margin-top: 60px;
}
.supplementary{
    padding-top:41px;
    margin-left:140px;
}
.supplementary-p{
    font-size: 14px;
}
.supplementary-p a{
    text-decoration: none;
    color:#000;
}
