*{
    margin: 0;
    padding: 0;
}
/*用户注册*/
.user-register{
  padding-top:67px;
  overflow: hidden;
  height: 505px;
  margin-bottom: 120px;
}
.user-register-title{
    font-size: 28px;
    width: 120px;
    margin: 0 auto;
    padding-bottom:7px;
    border-bottom:4px solid #ed1957;
}
.user-register form{
  position: absolute;
  overflow: hidden;
  margin-bottom: 120px;
}
.user-register-list{
    margin-top: 55px;
    list-style-type: none;
    margin-left: 445px;
}
.user-register-list li{
    width: 720px;
    margin-top: 20px;
}
.user-register-list li p{
    font-size: 16px;
    padding-right: 20px;
    float: left;
    text-align:right;
    width:90px;
    height:16px;
}
.user-register-list li input{
    padding:0 10px;
    width:245px;
    height: 35px;
    border:1px solid #c8c8c8;
    border-radius: 3px;
    margin-right: 10px;;
}
.list-li-one{
   margin-bottom: -10px;
}
.user-register-list .ym{
    font-size: 12px;
    margin-left: 110px;
}
.user-register-list .dz{
    color:#ed1957;
    font-size: 12px;
}
.user-register .cek{
    position: absolute;
    top:313px;
    left:560px;
}
.user-register .cekp{
    position: absolute;
    top:310px;
    left:585px;
    font-size: 14px;
}
.user-register .btn{
    width: 245px;
    height: 35px;
    background-color:#ed1957;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ed1957;
    border-radius: 3px;
    margin-left: 565px;
    margin-top: 80px;

}
.user-register .zh{
    margin-top: 45px;
    margin-left: 600px;
}
