*{
    margin: 0;
    padding: 0;
}
/*补全资料*/
.register-data{
    padding-top:67px;
}
.register-data-title{
    font-size: 28px;
    width:120px;
    margin: 0 auto;
    padding-bottom: 7px;
    border-bottom: 4px solid #ed1957;
}
.register-data form{
    margin-left: 430px;
    margin-bottom: 120px;
}
.register-data-list{
    list-style-type: none;
    text-align: center;
    margin-top: 35px;
}
.register-data-list li{
    width: 400px;
    margin-top: 20px;
}
.register-data-list p{
    font-size: 16px;
    padding-right: 20px;
    float: left;
    text-align:right;
    width:90px;
    height:16px;
}
.register-data-list input{
    padding:0 10px;
    width:245px;
    height: 35px;
    border:1px solid #c8c8c8;
    border-radius: 3px;
    margin-right: 10px;;
}
.register-list-sex input{
    width: 15px;
    height: 15px;
    position: relative;
    top: 0px;
    left:-45px;
    margin-right:48px;
}
.register-list-sex span{
    position: relative;
    top: -2px;
    left: -85px;
}
.register-data-btn{
    background-color:#ed1957;
    border: 1p xsolid #ed1957;
    widows: 260px;
    height: 40px;
    color: #fff;
    margin-top: 60px;
    margin-left: 80px;;
}